.ReactTable {
 
  table-layout: fixed;
  word-break: break-word;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* .ReactTable * {
  box-sizing: border-box;
  color: blue;
  table-layout: fixed;
  word-break: break-word;
  width: 100%;
} */